.App {
  text-align: center;
}
.outer_div {
  padding-top: 60px;
  color: #5393dc;
}
.addtocart_div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove-btn {
  display: flex;
  cursor: pointer;
  float: right;
}
.products_details {
  color: white;
}
.details {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 30px;
}
.details_header {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
